h1{
    background-color: #3d8cd0;
    padding: 10px 0;
    color: #fff;
    border-radius: 0.3em;
    margin-bottom: 1em;
}

#btn{
    margin: 1em 0;
    background-color: #3d8cd0;
    border-color: #3d8cd0;
}

span{
    font-size: 1.3em;
    margin-left: 1em;
}

#add-list div, #trash div{
    border-top: 3px solid #3d8cd0;
}

#add-list div{
    padding: 10px 0;
}

div .backgr{
    border-top: 3px solid #fff;
    background: #3d8cd0;
    border-radius: 5px;
}

#trash a{
   font-size: 1.3em;
    padding: 9px 0;
    text-align: center;
}

.cross {
	transition: all .15s;
    text-decoration: line-through;
    color: #fff;
}
